@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

body{
Font-size:100%;
background-color:floralwhite;
}
.backFoto{
    background-image: url("../img/emre23.jpeg");
  display: block;
    height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.Specialfont1{
font-family: 'Liu Jian Mao Cao', cursive;
Font-size:5.9em;
Font-style:normal;
  color: black;
}
.colorblack{
  color = black;
}

.centertext{
text-align: center;

}
h2{
Font-size:3em;
}
.flexitems
{
display: flex;
justify-content:center;
}
.padLeft {
  width: 40vh;
  padding-left: 90vh;
}
.paddingTop{
  padding-top: 13vh;
}
.paddingBot2{
  padding-bottom: 4vh;
}
.cerceve{
  padding-top: 10;
  padding-bottom: 10;
  padding-right: 10;
  padding-left: 10;
}
.opacity{
  
  width: 50vh;
  height: 25vh;
  
  background-color:rgba(25, 25 , 25, 0.5);
}
.opacity2 {
  width: 60vh;
  height: 35vh;
  
  background-color:rgba(25, 25 , 25, 0.5);
}
.colorWhite{
  color: white;
}
.center{
  padding-top: 20vh;
  display: flex;
justify-content:center;
  color: whitesmoke;
}
.center2 {
  display: flex;
  justify-content:center;

}
.fontSize{
  font-size: 1.23em;
  color: white;
}
.border
{
border-style:solid;
border-width:3px;
Border-color:#fc7978;


}
.paddingEtraf{
  width: 70vh;
  height:65vh;

}
.backgroundColorBlack {
background-color: #191919;
}
.border2
{
border-style:solid;
border-width:3px;
border-color:#e5d429;

}

a:link{
color:Black;
background-color:white;

}
a:visited{
color:Red;
background-color:white;

}
a:hover, a:active
{
background-color:white;

}
.addpadding{
padding:30px ;
}

.font1{
font-family:'Bowlby one SC' , cursive;
font-size:1.9em;
font-style:normal;
  color: black;
}
p.font{
font-size:1.4em;
}
table,th,td{
border-style:solid;
border-width:0.2em;
}
th,td
{
padding:2em;

}
